<div
  class="min-h-screen flex flex-col items-center justify-center text-gray-100 text-center gap-8 p-8"
  [ngClass]="currentBackground"
>
  <div class="text-[5.5rem] font-semibold tracking-wide text-neutral-700">
    <div class="flex">
      <span class="letter">D</span>
      <span class="letter">a</span>
      <span class="letter">n</span>
      <span class="letter">n</span>
      <span class="letter">y</span>
    </div>
    <div class="-mt-8">
      <span class="atiencia text-[5.5rem] font-semibold tracking-wide text-neutral-700"
        >Atiencia</span
      >
    </div>
  </div>
</div>
